{% extends "base.html"%}
{% block main %}
  <!-- 404 MESSAGE -->
  <div class="container margint40 marginb60 pos-center page-404">
    <h2>Oppss! Something wrong in this page!</h2>
    <p class="margint40"><a href="index-2.html">Take me home <i class="icon-long-arrow-right"></i></a></p>
    <div class="margint50 text-404 clearfix">
      <div class="pull-left">40</div>
      <div class="pull-left transform">4</div>
    </div>
  </div>

<a href="#" class="scrollup"><i class="icon-angle-up"></i></a></div>
{% endblock%}