{% extends 'base.html' %}
{% load thumbnail %}
{% load sidebar %}
{% block main %}
<div class="container margint40 marginb40">
  <div class="row">
    <!-- BLOG POST -->
    <div class="col-lg-9 col-sm-9">
      <div class="blog-post">
        {% comment %}
        <div class="blg-img-box"><img src="{{STATIC_URL}}temp/blglrg1.jpg" class="img-responsive" alt="" /><span class="blog-list-icon"><i class="icon-play"></i></span></div>
        {% endcomment %}
        <div class="blog-infobox margint30 clearfix">
          <div class="pull-left">
            <div class="blog-date-box">
              <p class="blog-date-day">23</p>
              <p class="blog-date-month">Sep</p>
            </div>
          </div>
          <div class="pull-left blog-info-list">
            <h3 class="marginb10">{{post_detail.title}}</h3>
            <span class="blg-cmmnt"><a href="#">3 Comments</a></span></div>
        </div>
        <div class="blog-post-pad">
          <div class="drpcp"><img src="{{STATIC_URL}}temp/leftimg.jpg" class="img-responsive drpcp-img" align="left" alt="">{{post_detail.content}}</div>
          <div class="post-tag-area margint30 clearfix">
            <p class="pull-left">Tags :</p>
            <ul class="pull-left blog-post-tag">
              <li><a href="#">This</a></li>
              <li><a href="#">What</a></li>
              <li><a href="#">Project</a></li>
              <li><a href="#">That</a></li>
            </ul>
          </div>
          <div class="blog-comment-title">
            <p>
            <h3>3 Comments on "Articles Page Name"</h3>
            </p>
          </div>
          <div class="comment-box">
            <div class="main-comment clearfix">
              <div class="col-lg-2"><img src="{{STATIC_URL}}temp/team2.jpg" class="img-responsive img-circle comment-pic" alt="" /></div>
              <div class="col-lg-10">
                <h4>Jess Doe</h4>
                <p class="margint10 com-date">23 September 2013</p>
                <p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sed facere numquam accusantium ratione neque nulla veniam voluptatem officiis libero eaque expedita dignissimos aliquam alias cupiditate sunt doloribus fugit. Dolores aut consectetur quas quisquam voluptate fugit saepe reiciendis eligendi odio?</p>
              </div>
            </div>
            <div class="main-comment clearfix">
              <div class="col-lg-2"><img src="{{STATIC_URL}}temp/team3.jpg" class="img-responsive img-circle comment-pic" alt="" /></div>
              <div class="col-lg-10">
                <h4>Jake Doe</h4>
                <p class="margint10 com-date">23 September 2013</p>
                <p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sed facere numquam accusantium ratione neque nulla veniam voluptatem officiis libero eaque expedita dignissimos aliquam alias cupiditate sunt doloribus fugit. Dolores aut consectetur quas quisquam voluptate fugit saepe reiciendis eligendi odio?</p>
              </div>
            </div>
            <div class="inner-comment clearfix">
              <div class="col-lg-2"><img src="{{STATIC_URL}}temp/team1.jpg" class="img-responsive img-circle comment-pic" alt="" /></div>
              <div class="col-lg-10">
                <h4>Jess Doe</h4>
                <p class="margint10 com-date">23 September 2013</p>
                <p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sed facere numquam accusantium ratione neque nulla veniam voluptatem officiis libero eaque expedita dignissimos aliquam alias cupiditate sunt doloribus fugit. Dolores aut consectetur quas quisquam voluptate fugit saepe reiciendis eligendi odio?</p>
              </div>
            </div>
            <div class="blog-comment-title">
              <p>
              <h3>Leave a Reply</h3>
              <div class="margint10">Your email address will not be published. Required fields are marked *</div>
              </p>
            </div>
            <div class="comment-input-area margint30">
              <div class="form-group clearfix">
                <div class="pull-left inpt-name">Name *</div>
                <div class="pull-left">
                  <input type="text" name="name" />
                </div>
              </div>
              <div class="form-group margint20 clearfix">
                <div class="pull-left inpt-name">E-Mail *</div>
                <div class="pull-left">
                  <input type="text" name="name" />
                </div>
              </div>
              <div class="form-group margint20 clearfix">
                <div class="pull-left inpt-name">Web Site</div>
                <div class="pull-left">
                  <input type="text" name="name" />
                </div>
              </div>
              <div class="form-group margint20">
                <div>Subject</div>
                <div class="margint10">
                  <textarea type="text" name="name"></textarea>
                </div>
              </div>
              <div class="pull-right margint10">
                <input class="form-button" type="submit" value="Gönder">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SIDEBAR -->
  {% sidebar %}
  </div>
</div>
{% endblock %}