{% extends 'base.html' %}
{% load thumbnail %}
{% load sidebar %}
{% block main %}
<div class="container margint40 marginb40">
  <div class="row">
    <!-- BLOG POST -->
    <div class="col-lg-9 col-sm-9">
      <div class="blog-post">
        <div class="blog-infobox margint30 clearfix">
          <div class="pull-left">
            <div class="blog-date-box">
              <p class="blog-date-day">{{post_detail.date|date:"j" }}</p>
              <p class="blog-date-month">{{post_detail.date|date:"M"}}</p>
            </div>
          </div>
          <div class="pull-left blog-info-list">
            <h3 class="marginb10">{{post_detail.title}}</h3>
            <span class="blg-cmmnt"><a href="{% url 'detail' post_detail.slug %}#disqus_thread">Yükleniyor..</a></span></div>
        </div>
        <div class="blog-post-pad">
          <div class="drpcp">
          <img src="{{ post_detail.photo.file |thumbnail_url:'bigpost' }}" alt="" class="img-responsive drpcp-img" align="left"/>
            {{post_detail.content|safe}}
          </div>
          <div class="post-tag-area margint30 clearfix">
            <p class="pull-left">Tags :</p>
            <ul class="pull-left blog-post-tag">
              {% for tag in post_detail.tags.all %}
              <li><a href="{% url 'tag' tag.slug %}">{{tag.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="comment-box">
            <div class="blog-comment-title">
              <div id="disqus_thread"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SIDEBAR -->
  {% sidebar %}
  </div>
</div>
{% endblock %}