{% extends 'base.html' %}
{% load thumbnail %}
{% load sidebar %}
{% block main %}
<div class="container margint40 marginb40">
  <div class="row">
    <!-- BLOG POST -->
    <div class="col-lg-9 col-sm-9">
      <div class="blog-post">
        <div class="blog-infobox margint30 clearfix">
          <div class="pull-left">
            <div class="blog-date-box">
              <p class="blog-date-day">23</p>
              <p class="blog-date-month">Sep</p>
            </div>
          </div>
          <div class="pull-left blog-info-list">
            <h3 class="marginb10">{{post_detail.title}}</h3>
            <span class="blg-cmmnt"><a href="#">3 Comments</a></span></div>
        </div>
        <div class="blog-post-pad">
          <div class="drpcp">
          {% thumbnail post_detail.photo.file "250x200" crop="center" as im %}
           <img alt="" src="{{im.url}}"class="img-responsive drpcp-img" align="left">
            {% endthumbnail %}
            {{post_detail.content}}
          </div>
          <div class="post-tag-area margint30 clearfix">
            <p class="pull-left">Tags :</p>
            <ul class="pull-left blog-post-tag">
              {% for tag in post_detail.tags.all %}
              <li><a href="#">{{tag.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="blog-comment-title">
            <p>
            <h3>Bu makale için {{comments.count}} yorum yapıldı.</h3>
            </p>
          </div>
          <div class="comment-box">
            {% for comment in comments %}
            <div class="main-comment clearfix">
              <div class="col-lg-2"><img src="{{STATIC_URL}}temp/team2.jpg" class="img-responsive img-circle comment-pic" alt="" /></div>
              <div class="col-lg-10">
                <h4>{{comment.name}}</h4>
                <p class="margint10 com-date">{{comments.date}}</p>
                <p class="margint10">{{comment.content}}</p>
              </div>
            </div>
            {% endfor %}
            <div class="blog-comment-title">
              <p>
              <h3>Yorum yapınız</h3>
              <div class="margint10">E-mail adresiniz yayınlanmayacaktır. Tüm alanlar zorunludur</div>
              </p>
            </div>
            <div class="comment-input-area margint30">
              <div class="form-group clearfix">
                <div class="pull-left inpt-name">İsim *</div>
                <div class="pull-left">
                  <input type="text" name="name" />
                </div>
              </div>
              <div class="form-group margint20 clearfix">
                <div class="pull-left inpt-name">E-Mail *</div>
                <div class="pull-left">
                  <input type="text" name="name" />
                </div>
              </div>
             
              <div class="form-group margint20">
                <div>İçerik</div>
                <div class="margint10">
                  <textarea type="text" name="name"></textarea>
                </div>
              </div>
              <div class="pull-right margint10">
                <input class="form-button" type="submit" value="Gönder">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SIDEBAR -->
  {% sidebar %}
  </div>
</div>
{% endblock %}