{% extends 'base.html' %}
{% load sidebar %}
{% block main %}
  <div class="container margint40 marginb40">
    <div class="row">
      <!-- BLOG -->
      <div class="col-lg-9 col-sm-9">
        <div class="row blog-box">
          <div class="col-lg-4 col-sm-4 blg-lst-img">
            <div class="blg-img-box"><img src="{{STATIC_URL}}temp/blg1.jpg" class="img-responsive" alt="" /><span class="blog-list-icon"><i class="icon-play"></i></span>
              <div class="mask">
                <div class="prt-lnk-wrppr clearfix">
                  <div class="pull-left popup"><a href="{{STATIC_URL}}temp/blg1.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
                  <div class="pull-left extlink"><a href="blog-post.html"><i class="icon-link"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-sm-8 blg-lst-txt">
            <div class="blog-infobox clearfix">
              <div class="pull-left">
                <div class="blog-date-box">
                  <p class="blog-date-day">23</p>
                  <p class="blog-date-month">Sep</p>
                </div>
              </div>
              <div class="pull-left blog-info">
                <h3 class="marginb10">Lorem ipsum dolor sit</h3>
                <span class="pull-left">Created by <a href="#">John Doe</a></span><span class="blg-cmmnt"><a href="#">3 Comments</a></span></div>
            </div>
            <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dicta natus veniam sequi ipsum sint odio. Consectetur quasi illo esse. Optio animi corrupti labore laborum fugiat dolores voluptate ad eaque.</p>
            <a href="#">READ MORE <i class="icon-long-arrow-right"></i></a></div>
        </div>
        <div class="row blog-box">
          <div class="col-lg-4 col-sm-4 blg-lst-img">
            <div class="blg-img-box"><img src="{{STATIC_URL}}temp/blg2.jpg" class="img-responsive" alt="" /><span class="blog-list-icon"><i class="icon-music"></i></span>
              <div class="mask">
                <div class="prt-lnk-wrppr clearfix">
                  <div class="pull-left popup"><a href="{{STATIC_URL}}temp/blg2.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
                  <div class="pull-left extlink"><a href="blog-post.html"><i class="icon-link"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-sm-8 blg-lst-txt">
            <div class="blog-infobox clearfix">
              <div class="pull-left">
                <div class="blog-date-box">
                  <p class="blog-date-day">23</p>
                  <p class="blog-date-month">Sep</p>
                </div>
              </div>
              <div class="pull-left blog-info">
                <h3 class="marginb10">Lorem ipsum dolor sit</h3>
                <span class="pull-left">Created by <a href="#">John Doe</a></span><span class="blg-cmmnt"><a href="#">3 Comments</a></span></div>
            </div>
            <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dicta natus veniam sequi ipsum sint odio. Consectetur quasi illo esse. Optio animi corrupti labore laborum fugiat dolores voluptate ad eaque.</p>
            <a href="#">READ MORE <i class="icon-long-arrow-right"></i></a></div>
        </div>
        <div class="row blog-box">
          <div class="col-lg-4 col-sm-4 blg-lst-img">
            <div class="blg-img-box"><img src="{{STATIC_URL}}temp/blg3.jpg" class="img-responsive" alt="" /><span class="blog-list-icon"><i class="icon-picture"></i></span>
              <div class="mask">
                <div class="prt-lnk-wrppr clearfix">
                  <div class="pull-left popup"><a href="{{STATIC_URL}}temp/blg3.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
                  <div class="pull-left extlink"><a href="blog-post.html"><i class="icon-link"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-sm-8 blg-lst-txt">
            <div class="blog-infobox clearfix">
              <div class="pull-left">
                <div class="blog-date-box">
                  <p class="blog-date-day">23</p>
                  <p class="blog-date-month">Sep</p>
                </div>
              </div>
              <div class="pull-left blog-info">
                <h3 class="marginb10">Lorem ipsum dolor sit</h3>
                <span class="pull-left">Created by <a href="#">John Doe</a></span><span class="blg-cmmnt"><a href="#">3 Comments</a></span></div>
            </div>
            <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dicta natus veniam sequi ipsum sint odio. Consectetur quasi illo esse. Optio animi corrupti labore laborum fugiat dolores voluptate ad eaque.</p>
            <a href="#">READ MORE <i class="icon-long-arrow-right"></i></a></div>
        </div>
        <div class="row blog-box">
          <div class="col-lg-4 col-sm-4 blg-lst-img">
            <div class="blg-img-box"><img src="{{STATIC_URL}}temp/blg4.jpg" class="img-responsive" alt="" /><span class="blog-list-icon"><i class="icon-play"></i></span>
              <div class="mask">
                <div class="prt-lnk-wrppr clearfix">
                  <div class="pull-left popup"><a href="{{STATIC_URL}}temp/blg4.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
                  <div class="pull-left extlink"><a href="blog-post.html"><i class="icon-link"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-sm-8 blg-lst-txt">
            <div class="blog-infobox clearfix">
              <div class="pull-left">
                <div class="blog-date-box">
                  <p class="blog-date-day">23</p>
                  <p class="blog-date-month">Sep</p>
                </div>
              </div>
              <div class="pull-left blog-info">
                <h3 class="marginb10">Lorem ipsum dolor sit</h3>
                <span class="pull-left">Created by <a href="#">John Doe</a></span><span class="blg-cmmnt"><a href="#">3 Comments</a></span></div>
            </div>
            <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dicta natus veniam sequi ipsum sint odio. Consectetur quasi illo esse. Optio animi corrupti labore laborum fugiat dolores voluptate ad eaque.</p>
            <a href="#">READ MORE <i class="icon-long-arrow-right"></i></a></div>
        </div>
        <div class="row blog-box">
          <div class="col-lg-4 col-sm-4 blg-lst-img">
            <div class="blg-img-box"><img src="{{STATIC_URL}}temp/blg5.jpg" class="img-responsive" alt="" /><span class="blog-list-icon"><i class="icon-play"></i></span>
              <div class="mask">
                <div class="prt-lnk-wrppr clearfix">
                  <div class="pull-left popup"><a href="{{STATIC_URL}}temp/blg5.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
                  <div class="pull-left extlink"><a href="blog-post.html"><i class="icon-link"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-sm-8 blg-lst-txt">
            <div class="blog-infobox clearfix">
              <div class="pull-left">
                <div class="blog-date-box">
                  <p class="blog-date-day">23</p>
                  <p class="blog-date-month">Sep</p>
                </div>
              </div>
              <div class="pull-left blog-info">
                <h3 class="marginb10">Lorem ipsum dolor sit</h3>
                <span class="pull-left">Created by <a href="#">John Doe</a></span><span class="blg-cmmnt"><a href="#">3 Comments</a></span></div>
            </div>
            <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dicta natus veniam sequi ipsum sint odio. Consectetur quasi illo esse. Optio animi corrupti labore laborum fugiat dolores voluptate ad eaque.</p>
            <a href="#">READ MORE <i class="icon-long-arrow-right"></i></a></div>
        </div>
        <div class="row blog-box">
          <div class="col-lg-4 col-sm-4 blg-lst-img">
            <div class="blg-img-box"><img src="{{STATIC_URL}}temp/blg6.jpg" class="img-responsive" alt="" /><span class="blog-list-icon"><i class="icon-play"></i></span>
              <div class="mask">
                <div class="prt-lnk-wrppr clearfix">
                  <div class="pull-left popup"><a href="{{STATIC_URL}}temp/blg6.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
                  <div class="pull-left extlink"><a href="blog-post.html"><i class="icon-link"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-sm-8 blg-lst-txt">
            <div class="blog-infobox clearfix">
              <div class="pull-left">
                <div class="blog-date-box">
                  <p class="blog-date-day">23</p>
                  <p class="blog-date-month">Sep</p>
                </div>
              </div>
              <div class="pull-left blog-info">
                <h3 class="marginb10">Lorem ipsum dolor sit</h3>
                <span class="pull-left">Created by <a href="#">John Doe</a></span><span class="blg-cmmnt"><a href="#">3 Comments</a></span></div>
            </div>
            <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dicta natus veniam sequi ipsum sint odio. Consectetur quasi illo esse. Optio animi corrupti labore laborum fugiat dolores voluptate ad eaque.</p>
            <a href="#">READ MORE <i class="icon-long-arrow-right"></i></a></div>
        </div>
      </div>
      <!-- SIDEBAR -->
    {% sidebar %}
    </div>
  </div>
  <!-- FOOTER -->
  {% endblock %}
 