<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>BoxMe Responsive Multipurpose Template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="shortcut icon" href="img/favicon.ico" />
<!-- CSS FILES -->
<link rel="stylesheet" href="js/rs-plugin/css/settings.css" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css" id="skin">
<link rel="stylesheet" href="css/boxme.responsive.css">
<link rel="stylesheet" href="css/style-switcher.css">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<!-- Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]> <script src="js/respond.min.js"></script><![endif]-->
</head>
<body>
<!--[if lt IE 7]> <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p><![endif]-->
<div id="style-switcher" class="swclose">
  <div class="swtch-opener"><a href="#"><i class="icon-magic"></i></a></div>
  <div class="swtch-header">
    <h4>STYLE SWITCHER</h4>
  </div>
  <div class="styleswtch margint20">
    <h4>LAYOUT STYLE</h4>
    <ul class="ul-layout margint10 clearfix">
      <li><a href="index.html" class="active">WIDE</a></li>
      <li><a href="../boxed/index.html">BOXED</a></li>
    </ul>
    <h4 class="margint20">COLORS</h4>
    <ul class="ul-colors margint10 clearfix">
      <li id="color1"></li>
      <li id="color2"></li>
      <li id="color3"></li>
      <li id="color4"></li>
      <li id="color5"></li>
      <li id="color6"></li>
      <li id="color7"></li>
      <li id="color8"></li>
      <li id="color9"></li>
    </ul>
    <p class="margint20"><a class="stylereset" href="#">RESET STYLES</a></p>
  </div>
</div>
<div id="wrapper">
  <!-- HEADER -->
  <header class="soci-header">
    <div id="head-box" class="style2">
      <div class="head-social-box">
        <div class="container clearfix pos-center">
          <div class="pull-left">
            <ul class="header-social clearfix">
              <li><a href="#"><span class="icon-stack"><i class="icon-circle fb icon-stack-base"></i><i class="icon-facebook"></i></span></a></li>
              <li><a href="#"><span class="icon-stack"><i class="icon-circle tw icon-stack-base"></i><i class="icon-twitter"></i></span></a></li>
              <li><a href="#"><span class="icon-stack"><i class="icon-circle rs icon-stack-base"></i><i class="icon-rss"></i></span></a></li>
              <li><a href="#"><span class="icon-stack"><i class="icon-circle sp icon-stack-base"></i><i class="icon-skype"></i></span></a></li>
              <li><a href="#"><span class="icon-stack"><i class="icon-circle fq icon-stack-base"></i><i class="icon-foursquare"></i></span></a></li>
              <li><a href="#"><span class="icon-stack"><i class="icon-circle ig icon-stack-base"></i><i class="icon-instagram"></i></span></a></li>
            </ul>
          </div>
          <div class="pull-right">
            <p>Lorem ipsum dolor sit amet, <a href="#">Voluptates dicta</a></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="header-wrapper margint10">
          <div class="pull-left logo"><a href="index-2.html"><img src="img/inside-logo.png" class="img-responsive" alt="BoxMe!" /></a></div>
          <div class="pull-right menu">
            <nav class="pull-left menu-bar" id="responsive-menu">
              <ul class="site-menu" id="site-menu">
                <li><a class="active" href="#">Home</a>
                  <ul>
                    <li><a href="index-2.html">Home 01</a></li>
                    <li><a href="index-02.html">Home 02</a></li>
                    <li><a href="index-03.html">Home 03</a></li>
                    <li><a href="index-animated.html">Home Animated</a></li>
                    <li><a href="index-parallax.html">Home Parallax</a></li>
                    <li><a href="index-background-menu.html">Home Menu with Background</a></li>
                    <li><a href="index-blog.html">Home Blog</a></li>
                    <li><a href="index-portfolio-without-slider.html">Home Portfolio</a></li>
                    <li><a href="index-portfolio-with-slider.html">Home Portfolio with Slider</a></li>
                  </ul>
                </li>
                <li><a href="#">Headers</a>
                  <ul>
                    <li><a href="index-2.html">Header 1</a></li>
                    <li><a href="index-header-style2.html">Header 2</a></li>
                    <li><a href="index-header-social.html">Header 3</a></li>
                  </ul>
                </li>
                <li><a href="#">Sliders</a>
                  <ul>
                    <li><a href="index-2.html">Revolution Slider</a></li>
                    <li><a href="index-camera-slider.html">Camera Slider</a></li>
                    <li><a href="index-nivo-slider.html">Nivo Slider</a></li>
                    <li><a href="index-flex-slider.html">Flex Slider</a></li>
                    <li><a href="index-elastic-slider.html">Elastic Slider</a></li>
                    <li><a href="index-accordion-slider.html">Accordion Slider</a></li>
                  </ul>
                </li>
                <li><a href="#">Pages</a>
                  <ul>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                    <li><a href="#">Breadcrumb Navigation</a>
                      <ul>
                        <li><a href="full-width-page.html">Standart</a></li>
                        <li><a href="parallax-breadcrumb-navigation.html">Parallax</a></li>
                      </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="about-02.html">About 2</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="left-sidebar-page.html">Left Sidebar Page</a></li>
                    <li><a href="right-sidebar-page.html">Right Sidebar Page</a></li>
                    <li><a href="full-width-page.html">Full Width Page</a></li>
                    <li><a href="team-styles.html">Team Styles</a></li>
                    <li><a href="pricing-tables.html">Pricing Tables</a></li>
                    <li><a href="search-results.html">Search Results</a></li>
                    <li><a href="side-navigation.html">Side Navigation</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="404.html">404 Page</a></li>
                  </ul>
                </li>
                <li><a href="#">Portfolio</a>
                  <ul>
                    <li><a href="portfolio-2-columns.html">Portfolio 2 Columns</a></li>
                    <li><a href="portfolio-3-columns.html">Portfolio 3 Columns</a></li>
                    <li><a href="portfolio-4-columns.html">Portfolio 4 Columns</a></li>
                    <li><a href="portfolio-single.html">Portfolio Details Page</a></li>
                    <li><a href="portfolio-2-columns-with-sidebar.html">Portfolio 2 Columns with Sidebar</a></li>
                    <li><a href="portfolio-3-columns-with-sidebar.html">Portfolio 3 Columns with Sidebar</a></li>
                    <li><a href="portfolio-4-columns-with-sidebar.html">Portfolio 4 Columns with Sidebar</a></li>
                    <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                  </ul>
                </li>
                <li><a href="#">Blog</a>
                  <ul>
                    <li><a href="blog-with-slider.html">Blog with Slider</a></li>
                    <li><a href="blog-list-left-sidebar.html">Blog with Left Sidebar</a></li>
                    <li><a href="blog-list-right-sidebar.html">Blog with Right Sidebar</a></li>
                    <li><a href="blog-columns-sidebar.html">Blog 2 Columns with Sidebar</a></li>
                    <li><a href="blog-large-sidebar.html">Blog Large Posts with Sidebar</a></li>
                    <li><a href="blog-full-width.html">Blog Full Width</a></li>
                    <li><a href="blog-post.html">Blog Post Page</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
            <div class="pull-right search">
              <div class="pull-left search-box">
                <input type="text" name="search" />
              </div>
              <a class="pull-right" href="#"><i class="icon-search"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- REVOLUTION SLIDER -->
  <div class="fullwidthbanner-container" >
    <div class="fullwidthbanner">
      <ul>
        <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back"><img src="temp/sliders/background.jpg" alt="" />
          <div class="caption rev-left rev-thin-title sft" data-x="0" data-y="90" data-speed="900" data-start="700" data-easing="easeOutExpo">BOXME IS</div>
          <div class="caption rev-left rev-thin-title sft" data-x="0" data-y="125" data-speed="900" data-start="1000" data-easing="easeOutExpo">FULLY RESPONSIVE</div>
          <div class="caption rev-left rev-bold-title sfl" data-x="0" data-y="165" data-speed="900" data-start="1300" data-easing="easeOutExpo">AWESOME MULTIPURPOSE THEME</div>
          <div class="caption rev-left rev-p fade" data-x="0" data-y="210" data-speed="600" data-start="1500" data-easing="easeOutExpo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorum<br />
            dicta nostrum deserunt porro nobis quibusdam. Voluptate consectetur<br />
            distinctio libero quos repellendus!</div>
          <div class="caption rev-left rev-button sfb" data-x="0" data-y="320" data-speed="900" data-start="1600" data-easing="easeOutExpo" ><a href="#">BUY NOW</a></div>
          <div class="caption rev-left rev-button-2 sfb" data-x="120" data-y="320" data-speed="900" data-start="1900" data-easing="easeOutExpo" ><a href="#">READ MORE</a></div>
          <div class="caption sft" data-x="580" data-y="140" data-speed="900" data-start="1700" data-easing="easeOutExpo" ><img src="temp/sliders/imac.png" alt="Image 4"></div>
          <div class="caption sfl" data-x="500" data-y="280" data-speed="900" data-start="2000" data-easing="easeOutExpo" ><img src="temp/sliders/ipad.png" alt="Image 5"></div>
          <div class="caption sfl" data-x="595" data-y="325" data-speed="900" data-start="2300" data-easing="easeOutExpo" ><img src="temp/sliders/iphone.png" alt="Image 6"></div>
          <div class="caption rev-right sfr" data-x="right" data-y="250" data-speed="900" data-start="2600" data-easing="easeOutExpo" ><img src="temp/sliders/macbook.png" alt="Image 7"></div>
        </li>
        <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back"><img src="temp/sliders/background2.jpg" alt="" />
          <div class="caption rev-bthin-title sft" data-x="52" data-y="80" data-speed="900" data-start="700" data-easing="easeOutExpo">Clean and Powerful</div>
          <div class="caption rev-bthin-title sft" data-x="104" data-y="120" data-speed="900" data-start="1000" data-easing="easeOutExpo">Easy Customize</div>
          <div class="caption rev-mbold-title sfl" data-x="141" data-y="170" data-speed="900" data-start="1300" data-easing="easeOutExpo">Simple, Great & Awesome</div>
          <div class="caption rev-text-box sfr" data-x="109" data-y="220" data-speed="900" data-start="1600" data-easing="easeOutExpo" >3 Headers Variations</div>
          <div class="caption rev-text-box sfr" data-x="56" data-y="257" data-speed="900" data-start="1900" data-easing="easeOutExpo" >5 Sliders + Revolution Slider</div>
          <div class="caption rev-text-box sfr" data-x="121" data-y="295" data-speed="900" data-start="2100" data-easing="easeOutExpo" >Easy Parallax Effect</div>
          <div class="caption rev-text-box sfr" data-x="142" data-y="333" data-speed="900" data-start="2300" data-easing="easeOutExpo" >Animated Pages</div>
          <div class="caption rev-text-box sfr" data-x="74" data-y="371" data-speed="900" data-start="2600" data-easing="easeOutExpo" >45+ Pages What you need</div>
          <div class="caption rev-text-box sfr" data-x="62" data-y="409" data-speed="900" data-start="2900" data-easing="easeOutExpo" >Minimal Responsive Design</div>
          <div class="caption rev-right sfb" data-x="500" data-y="30" data-speed="900" data-start="2000" data-easing="easeOutExpo" ><img src="temp/sliders/s4.jpg" alt="Image 4"></div>
          <div class="caption sfb" data-x="460" data-y="145" data-speed="900" data-start="2300" data-easing="easeOutExpo" ><img src="temp/sliders/s3.jpg" alt="Image 5"></div>
          <div class="caption sfb" data-x="410" data-y="230" data-speed="900" data-start="2600" data-easing="easeOutExpo" ><img src="temp/sliders/s2.jpg" alt="Image 6"></div>
          <div class="caption sfb" data-x="350" data-y="330" data-speed="900" data-start="2900" data-easing="easeOutExpo" ><img src="temp/sliders/s1.jpg" alt="Image 7"></div>
        </li>
        <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back"><img src="temp/sliders/background3.jpg" alt="" />
          <div class="caption rev-left sfb" data-x="0" data-y="50" data-speed="900" data-start="1200" data-easing="easeOutExpo" ><img src="temp/sliders/macbook2.png" alt="Image 5"></div>
          <div class="caption fade" data-x="150" data-y="110" data-speed="900" data-start="1700" data-easing="easeOutExpo" ><img src="temp/sliders/retina_1.png" alt="Image 6"></div>
          <div class="caption fade" data-x="350" data-y="250" data-speed="900" data-start="2000" data-easing="easeOutExpo" ><img src="temp/sliders/retina_2.png" alt="Image 7"></div>
          <div class="caption rev-left rev-bthin-title sft" data-x="720" data-y="140" data-speed="900" data-start="1500" data-easing="easeOutExpo">Well Documented</div>
          <div class="caption rev-left rev-p fade" data-x="720" data-y="200" data-speed="900" data-start="1800" data-easing="easeOutExpo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorum<br />
            dicta nostrum deserunt porro nobis quibusdam. Voluptate consectetur<br />
            distinctio libero quos repellendus!</div>
          <div class="caption rev-left rev-button sfb" data-x="720" data-y="310" data-speed="900" data-start="2100" data-easing="easeOutExpo" ><a href="#">BUY NOW</a></div>
          <div class="caption rev-left rev-button-2 sfb" data-x="850" data-y="310" data-speed="900" data-start="2400" data-easing="easeOutExpo" ><a href="#">READ MORE</a></div>
        </li>
      </ul>
    </div>
    <!--<div class="tp-bannertimer tp-bottom"></div>-->
  </div>
  <!-- SERVICES -->
  <div id="main-info" class="margint60 pos-center">
    <div class="container">
      <div class="information">
        <h2>A responsive, wide multipurpose <span class="important-text">Boxme</span> theme</h2>
        <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed cumque distinctio labore minima ipsum fugit aspernatur dolore deserunt iure sunt officiis iusto <span class="color-text">itaque rerum reprehenderit laborum</span> dignissimos iste assumenda dolorem?</p>
      </div>
      <div class="row margint40 info">
        <div class="col-lg-3 col-sm-6 col3-box">
          <div class="pad20"><i class="icon-camera info-icon"></i>
            <h4 class="margint10">Creative Portfolio</h4>
            <p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
            <a class="margint10" href="#">READ MORE <i class="icon-long-arrow-right"></i></a></div>
        </div>
        <div class="col-lg-3 col-sm-6 col3-box">
          <div class="pad20"><i class="icon-cogs info-icon"></i>
            <h4 class="margint10">Retina Ready</h4>
            <p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
            <a class="margint10" href="#">READ MORE <i class="icon-long-arrow-right"></i></a></div>
        </div>
        <div class="col-lg-3 col-sm-6 col3-box">
          <div class="pad20"><i class="icon-cloud info-icon"></i>
            <h4 class="margint10">Easy Customize</h4>
            <p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
            <a class="margint10" href="#">READ MORE <i class="icon-long-arrow-right"></i></a></div>
        </div>
        <div class="col-lg-3 col-sm-6 col3-box">
          <div class="pad20"><i class="icon-beaker info-icon"></i>
            <h4 class="margint10">Color Variations</h4>
            <p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
            <a class="margint10" href="#">READ MORE <i class="icon-long-arrow-right"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- FEATURED -->
  <div id="featured" class="margint60">
    <div class="container marginb40">
      <div class="information">
        <p class="section-title margint60">FEATURED</p>
        <hr class="underline">
        <h2 class="margint20">Are you ready for BoxMe?</h2>
        <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed cumque distinctio labore minima ipsum fugit aspernatur dolore deserunt iure sunt officiis iusto itaque rerum reprehenderit laborum dignissimos iste assumenda dolorem?</p>
      </div>
      <div id="featured_slider" class="margint40 marginb25">
        <div class="featured_slider_main"><img src="temp/featured.png" class="img-responsive" alt="" /></div>
        <div class="featured_slider_item1"><img src="temp/1.png" class="img-responsive feat-image" alt="" /></div>
        <div class="featured_slider_item2"><img src="temp/2.png" class="img-responsive feat-image" alt="" /></div>
        <div class="featured_slider_item3"><img src="temp/3.png" class="img-responsive feat-image" alt="" /></div>
        <div class="featured_slider_item4"><img src="temp/4.png" class="img-responsive feat-image" alt="" /></div>
      </div>
    </div>
  </div>
  <!-- CUSTOMER COMMENTS -->
  <div id="cust-comments" class="pos-center">
    <div class="container margint60 marginb60">
      <div class="information">
        <p class="section-title">CUSTOMER COMMENTS</p>
        <hr class="underline">
        <div class="bq-style1">
          <div class="blockquote">
            <div class="marginb25 bqarea">
              <div class="bq-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</p>
                <span>Charlie Brown - Account Manager</span></div>
              <div class="bq-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</p>
                <span>John Doe - Account Manager</span></div>
              <div class="bq-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</p>
                <span>Jane Doe - Account Manager</span></div>
              <div class="bq-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</p>
                <span>Edward Sawyer - Account Manager</span></div>
              <div class="bq-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. İste dolor dolores blanditiis officiis voluptas a suscipit consequuntur molestias eligendi accusantium earum eaque itaque fugit odit hic labore inventore ullam quaerat rerum magni numquam voluptates alias facilis exercitationem sit ipsum totam.</p>
                <span>Charlie Brown - Account Manager</span></div>
            </div>
          </div>
        </div>
        <ul class="clearfix" id="cust-lists">
          <li><img src="temp/team1.jpg" alt="" class="img-circle" width="100" height="100" /></li>
          <li><img src="temp/team2.jpg" alt="" class="img-circle" width="100" height="100" /></li>
          <li><img src="temp/team3.jpg" alt="" class="img-circle" width="100" height="100" /></li>
          <li><img src="temp/team4.jpg" alt="" class="img-circle" width="100" height="100" /></li>
          <li><img src="temp/team2.jpg" alt="" class="img-circle" width="100" height="100" /></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- SERVICES -->
  <div id="services">
    <div class="container">
      <div class="information">
        <p class="section-title margint60">SERVICES</p>
        <hr class="underline">
        <div class="row margint50">
          <ul class="tabbed-area col-lg-3 col-sm-3 tab-style1">
            <li class="active"><a href="#tab1">Lorem ipsum dolor</a></li>
            <li><a href="#tab2">Lorem ipsum</a></li>
            <li><a href="#tab3">Lorem ipsum dolor sit</a></li>
            <li><a href="#tab4">Lorem ipsum dolor</a></li>
            <li><a href="#tab5">Lorem ipsum dolor</a></li>
            <li><a href="#tab6">Lorem ipsum dolor</a></li>
          </ul>
          <div class="col-lg-9 col-sm-9 tab-content">
            <div class="row tab-pane fade in active" id="tab1">
              <div class="tab-text col-lg-6 col-sm-6">
                <h2>BoxMe has awesome features!</h2>
                <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quibusdam fugiat maiores illum eum <span class="color-text">delectus quisquam voluptatem</span> consectetur vel dignissimos commodi deserunt a temporibus fugit sed quis iste deleniti exercitationem.</p>
                <ul class="margint30">
                  <li><i class="icon-long-arrow-right"></i> Lorem ipsum dolor.</li>
                  <li><i class="icon-long-arrow-right"></i> Lorem ipsum dolor sit amet.</li>
                  <li><i class="icon-long-arrow-right"></i> Lorem ipsum dolor sit.</li>
                  <li><i class="icon-long-arrow-right"></i> Lorem ipsum dolor.</li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-6"><img src="temp/tab-image.png" class="img-responsive" alt="" /></div>
            </div>
            <div class="tab-pane fade" id="tab2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis incidunt illum magnam perspiciatis aliquid veniam at eum placeat nam modi nihil eos sed tempora animi debitis assumenda maxime. Nam quia?</div>
            <div class="tab-pane fade" id="tab3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem consectetur reiciendis fuga dignissimos temporibus quas voluptatem accusantium aperiam deserunt id. Natus eius incidunt repellendus consequuntur odit officia veritatis accusamus atque.</div>
            <div class="tab-pane fade" id="tab4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non fugiat ab maxime eius distinctio est autem quibusdam quisquam expedita alias necessitatibus vel reiciendis quasi dolore nam! Molestias excepturi quas aperiam.</div>
            <div class="tab-pane fade" id="tab5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde et perferendis quae laboriosam voluptate eos iste asperiores ullam sed dicta esse expedita perspiciatis explicabo voluptatibus ex minus maxime ut.</div>
            <div class="tab-pane fade" id="tab6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et beatae illum iste hic in quis natus voluptate voluptates eum sunt. Quidem assumenda quas labore obcaecati laudantium doloremque architecto sint minima!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PORTFOLIO -->
  <div id="portfolio" class="margint60 full-width">
    <p class="section-title margint60">PORTFOLIO</p>
    <hr class="underline">
    <h2>Our beautiful works</h2>
    <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed cumque distinctio labore minima ipsum fugit aspernatur dolore deserunt iure sunt officiis iusto <span class="color-text">itaque rerum reprehenderit laborum</span> dignissimos iste assumenda dolorem?</p>
    <ul id="prtfl-list">
      <li><img src="temp/portfolio1_s.jpg" class="img-responsive" alt="" />
        <div class="mask">
          <div class="prt-lnk-wrppr clearfix">
            <div class="pull-left popup"><a href="temp/portfolio1.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
            <div class="pull-left extlink"><a href="portfolio-single.html"><i class="icon-link"></i></a></div>
          </div>
        </div>
      </li>
      <li><img src="temp/portfolio2_s.jpg" class="img-responsive" alt="" />
        <div class="mask">
          <div class="prt-lnk-wrppr clearfix">
            <div class="pull-left popup"><a href="temp/portfolio2.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
            <div class="pull-left extlink"><a href="portfolio-single.html"><i class="icon-link"></i></a></div>
          </div>
        </div>
      </li>
      <li><img src="temp/portfolio3_s.jpg" class="img-responsive" alt="" />
        <div class="mask">
          <div class="prt-lnk-wrppr clearfix">
            <div class="pull-left popup"><a href="temp/portfolio3.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
            <div class="pull-left extlink"><a href="portfolio-single.html"><i class="icon-link"></i></a></div>
          </div>
        </div>
      </li>
      <li><img src="temp/portfolio4_s.jpg" class="img-responsive" alt="" />
        <div class="mask">
          <div class="prt-lnk-wrppr clearfix">
            <div class="pull-left popup"><a href="temp/portfolio4.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
            <div class="pull-left extlink"><a href="portfolio-single.html"><i class="icon-link"></i></a></div>
          </div>
        </div>
      </li>
      <li><img src="temp/portfolio5_s.jpg" class="img-responsive" alt="" />
        <div class="mask">
          <div class="prt-lnk-wrppr clearfix">
            <div class="pull-left popup"><a href="temp/portfolio5.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
            <div class="pull-left extlink"><a href="portfolio-single.html"><i class="icon-link"></i></a></div>
          </div>
        </div>
      </li>
      <li><img src="temp/portfolio1_s.jpg" class="img-responsive" alt="" />
        <div class="mask">
          <div class="prt-lnk-wrppr clearfix">
            <div class="pull-left popup"><a href="temp/portfolio1.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
            <div class="pull-left extlink"><a href="portfolio-single.html"><i class="icon-link"></i></a></div>
          </div>
        </div>
      </li>
      <li><img src="temp/portfolio2_s.jpg" class="img-responsive" alt="" />
        <div class="mask">
          <div class="prt-lnk-wrppr clearfix">
            <div class="pull-left popup"><a href="temp/portfolio2.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
            <div class="pull-left extlink"><a href="portfolio-single.html"><i class="icon-link"></i></a></div>
          </div>
        </div>
      </li>
      <li><img src="temp/portfolio3_s.jpg" class="img-responsive" alt="" />
        <div class="mask">
          <div class="prt-lnk-wrppr clearfix">
            <div class="pull-left popup"><a href="temp/portfolio3.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
            <div class="pull-left extlink"><a href="portfolio-single.html"><i class="icon-link"></i></a></div>
          </div>
        </div>
      </li>
      <li><img src="temp/portfolio4_s.jpg" class="img-responsive" alt="" />
        <div class="mask">
          <div class="prt-lnk-wrppr clearfix">
            <div class="pull-left popup"><a href="temp/portfolio4.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
            <div class="pull-left extlink"><a href="portfolio-single.html"><i class="icon-link"></i></a></div>
          </div>
        </div>
      </li>
      <li><img src="temp/portfolio5_s.jpg" class="img-responsive" alt="" />
        <div class="mask">
          <div class="prt-lnk-wrppr clearfix">
            <div class="pull-left popup"><a href="temp/portfolio5.jpg" class="prettyPhoto"><i class="icon-search"></i></a></div>
            <div class="pull-left extlink"><a href="portfolio-single.html"><i class="icon-link"></i></a></div>
          </div>
        </div>
      </li>
    </ul>
    <ul id="prtfl-list-controller" class="margint40 clearfix">
      <li><a id="prev" href="#"><i class="icon-angle-left"></i></a></li>
      <li><a href="#"><i class="icon-expand-alt"></i></a></li>
      <li><a id="next" href="#"><i class="icon-angle-right"></i></a></li>
    </ul>
  </div>
  <!-- CLIENTS -->
  <div id="clients" class="margint60">
    <div class="container">
      <div class="information">
        <p class="section-title margint60">CLIENTS</p>
        <hr class="underline">
        <h2>We are loving all customer</h2>
        <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed cumque distinctio labore minima ipsum fugit aspernatur dolore deserunt iure sunt officiis iusto <span class="color-text">itaque rerum reprehenderit laborum</span> dignissimos iste assumenda dolorem?</p>
        <ul id="client-list" class="clearfix">
          <li><img src="temp/clients1c.png" alt="" /></li>
          <li><img src="temp/clients2c.png" alt="" /></li>
          <li><img src="temp/clients3c.png" alt="" /></li>
          <li><img src="temp/clients4c.png" alt="" /></li>
          <li><img src="temp/clients5c.png" alt="" /></li>
          <li><img src="temp/clients6c.png" alt="" /></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- INFORMATION BAR -->
  <div id="sub-bar">
    <div class="container">
      <div class="row marginb25">
        <div class="col-lg-7 col-sm-7">
          <h2>Do you need more information?</h2>
          <p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusamus molestias veritatis iste ea! Maxime quasi dignissimos eum voluptates facere.</p>
        </div>
        <div class="col-lg-5 col-sm-5">
          <ul class="pull-right" id="sub-ul">
            <li><a class="link-feature" href="#"><i class="icon-gear"></i> View More Features</a></li>
            <li><a class="link-buy" href="#">Buy Now <i class="icon-long-arrow-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <div id="footer">
    <div class="container">
      <div class="row foo margint30 marginb25">
        <div class="col-lg-3 col-sm-6">
          <h3>About</h3>
          <ul class="footer-ul-style1">
            <li><a href="#"><i class="icon-star-empty"></i> Lorem ipsum dolor</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem ipsum dolor sit</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem ipsum</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem ipsum dolor</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem ipsum dolor sit</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem ipsum</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6">
          <h3>Tags</h3>
          <ul id="tags" class="clearfix">
            <li><a href="#">This</a></li>
            <li><a href="#">What</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">This</a></li>
            <li><a href="#">What</a></li>
            <li><a href="#">This</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">What</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">lorem</a></li>
            <li><a href="#">BoxMe!</a></li>
            <li><a href="#">What</a></li>
            <li><a href="#">This</a></li>
          </ul>
          <h3>Recent Posts</h3>
          <ul class="footer-ul-style1">
            <li><a href="#"><i class="icon-star-empty"></i> Lorem ipsum dolor</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem ipsum dolor sit</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem ipsum</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem</a></li>
            <li><a href="#"><i class="icon-star-empty"></i> Lorem ipsum dolor</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6">
          <h3>Photo Gallery</h3>
          <ul id="footer-gallery" class="clearfix">
            <li><a href="temp/portfolio1.jpg" class="prettyPhoto"><img src="temp/footer1.jpg" alt="" /></a></li>
            <li><a href="temp/portfolio2.jpg" class="prettyPhoto"><img src="temp/footer2.jpg" alt="" /></a></li>
            <li><a href="temp/portfolio3.jpg" class="prettyPhoto"><img src="temp/footer3.jpg" alt="" /></a></li>
            <li><a href="temp/portfolio4.jpg" class="prettyPhoto"><img src="temp/footer4.jpg" alt="" /></a></li>
            <li><a href="temp/portfolio5.jpg" class="prettyPhoto"><img src="temp/footer5.jpg" alt="" /></a></li>
            <li><a href="temp/portfolio1.jpg" class="prettyPhoto"><img src="temp/footer1.jpg" alt="" /></a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 footer-contact">
          <h3>Contact</h3>
          <p>Lorem ipsum dolor sit amet lorem<br />
            PO Box 21177<br />
            Victoria 8011 Australia<br />
            +61 3 8376 6284</p>
          <h3>Newsletter</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <input class="footer-input" type="text" name="mail" />
          <input class="footer-submit" type="submit" value="Join Us!">
        </div>
      </div>
    </div>
  </div>
  <div id="footer-last">
    <div class="container footer-text">
      <div class="pull-left footer-info">
        <p>© 2013 Boxme Powered by <span class="color-text">2035 Themes</span></p>
      </div>
      <div class="pull-right footer-social">
        <ul id="social" class="margint20 clearfix">
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-google-plus"></i></a></li>
          <li><a href="#"><i class="icon-skype"></i></a></li>
          <li><a href="#"><i class="icon-flickr"></i></a></li>
          <li><a href="#"><i class="icon-pinterest"></i></a></li>
          <li><a href="#"><i class="icon-foursquare"></i></a></li>
          <li><a href="#"><i class="icon-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- SCROLL TO TOP -->
  <a href="#" class="scrollup"><i class="icon-angle-up"></i></a></div>
<!-- JS FILES -->
<script src="js/vendor/jquery-1.10.1.min.js"></script>
<script src="swtch/jquery.cookie.js"></script>
<script src="js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/retina-1.1.0.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/supersubs.js"></script>
<script src="js/jquery.carouFredSel.js"></script>
<script src="js/responsive-nav.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="js/gmaps.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/excanvas.js"></script>
<script src="js/jquery.easy-pie-chart.js"></script>
<script src="js/main.js"></script>
<script type='text/javascript'>
if (jQuery.fn.cssOriginal!=undefined)
  jQuery.fn.css = jQuery.fn.cssOriginal;
  jQuery('.fullwidthbanner').revolution({
	delay:9000,
	startwidth:1140,
	startheight:600,
	hideThumbs:200,
	thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
	thumbHeight:50,
	thumbAmount:5,
	navigationType:"none",				// bullet, thumb, none
	navigationArrows:"solo",				// nexttobullets, solo (old name verticalcentered), none
	navigationStyle:"square",				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom
	navigationHAlign:"center",				// Vertical Align top,center,bottom
	navigationVAlign:"bottom",					// Horizontal Align left,center,right
	navigationHOffset:0,
	navigationVOffset:20,
	soloArrowLeftHalign:"left",
	soloArrowLeftValign:"center",
	soloArrowLeftHOffset:20,
	soloArrowLeftVOffset:20,
	soloArrowRightHalign:"right",
	soloArrowRightValign:"center",
	soloArrowRightHOffset:20,
	soloArrowRightVOffset:20,
	touchenabled:"off",						// Enable Swipe Function : on/off
	onHoverStop:"on",						// Stop Banner Timet at Hover on Slide on/off
	stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
	stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic
	hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
	hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
	hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value
	shadow:0,								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
	fullWidth:"on"							// Turns On or Off the Fullwidth Image Centering in FullWidth Modus
});
</script>
<!--<script> var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; g.src='//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g,s)}(document,'script'));</script>-->
</body>
</html>