{% load static %}
<header>
  <div id="inside-header" class="style2">
    <div class="container">
      <div class="header-wrapper">
        <div class="pull-left logo"><a href="{% url 'home' %}"><img src="{% get_static_prefix %}img/inside-logo.png" class="{% get_static_prefix %}img-responsive" alt="BoxMe!" /></a></div>
        <div class="pull-right menu">
          <nav class="pull-left menu-bar" id="responsive-menu">
            <ul class="site-menu" id="site-menu">
              <li><a class="{% if url == "" %}active{% endif %}" href="{% url 'home' %}">Ana sayfa</a>  
              {% for menu in menus %}
              {% if not menu.parent %}
              {% with menu.slug as slugg %}
              <li><a class="{% if url == slugg %}active {% endif %}" href="{% url 'page' menu.slug %}">{{menu.name}}</a>  
                <ul>
                  {% for i in menus %}
                    {% if i.parent == menu %}
                  <li><a href="{% url 'page' i.slug %}">{{i.name}}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              {% endwith %}
              {% endif %}
              {% endfor %}
            </ul>
          </nav>
          <div class="pull-right search">
            <div class="pull-left search-box">
              <form method="get" action="{% url 'search' %}{% filter urlencode %}{{search}}{% endfilter %}">
                 <input type="text" name="search" placeholder="Blog'da Ara">
             </form>
            </div>
            <a class="pull-right" href="#"><i class="icon-search"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>